* {
  background: #2d0922;
  color: white;
  font-family: monospace;
  margin: 0;
  font-size: 16px;
}

section {
  margin-bottom: 16px;
}

.name {
  display: flex;
  gap: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}
